

  <div class="gmNav">
    <div class="gmMenuLogo">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="gmReopen"> X </div>
    <ul>
      <li><a class="ls" href="#gmMain">Main</a></li>
      <li><a href="#gmMain2">Portfolio</a></li>
      <li><a href="#gmMain3">Lab</a>
          <p class="gmLab-detail"> Programs I create during my freetime,
          <br>
           while trying to learn new tech.</p>
      </li>
      <li><a href="#gmMain4">Contact</a></li>
    </ul>
  </div>

<div class="gmMain" id="gmMain">
        <h1> Gerardo Mestanza</h1>
        <h2> Full-Stack  </h2>
        <br>
        <h2 style="top: 48.3453%; left: 55px; font-size: 80px;"> Web Developer </h2>
        <h3> New York, New York </h3>
</div>

<div class="gmMain2" id="gmMain2">
  <div class="gmSectionMid">
    <div class="container-fluid">
      <hr>
      <h1 class="portLogo"> Portfolio<h1>
        <p class="portdes"> selected works </p>
      <div class="row">
        <div class="gmPortshow-1">
          <div class="row">
            <div class="col-md-4 gm-col4">
              <div class="gmImgSM1">
                <div class="gmSM1sum1">
                </div>
              </div>
                <div class="gmImgSM2">
                </div>
            </div>
            <div class="col-md-4 gm-col4">
                <div class="gmImgSM3 gmRMP"></div>
                  <div class="gmImgSM4 gmRMP"></div>

            </div>
            <div class="col-md-4 gm-col4">
                <div class="gmImgSM5 gmRMP"></div>
                  <div class="gmImgSM6 gmRMP"></div>
            </div>
          </div>
        </div>
      </div>
      <p class="moreWorksPortf" style="margin-top: 20px;"> more works </p>
      <hr>
    </div>
  </div>
</div>



<div class="gmMain3" id="gmMain3">
  <div class="gmMain3Logo">
    <h1 style="margin-top: 20px;" class="gmMain3Logo"> Projects </h1>
    <p class="gmM3logoDes"> "Projects I made during my lunchbreak" </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="gmPortshow-1">
        <div class="row">
          <div class="col-md-6 gm-col4">
            <div class="gmMain3Project">
                <p class="projectsTitle"> Title Project </p>
                <p class="projectsDes"> this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                  this is some future text.this is some future text.
                </p>

                <p class="projectsMore"> View More
                </p>
            </div>
          </div>
          <div class="col-md-6 gm-col4">
              <div class="gmImgSM7 gmRMP"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footerGM">
      <div class="footerContent">
        <p class="gmGetInTouch">  CONTACT </p>
        <p class="gmEmail"> GERARDO MESTANZA | gerardomestanza23@gmail.com   </p>
        <ul class="social">
          <li class="instagram"><a href="https://www.instagram.com/Gerard_Mes/" class="fa fa-camera-retro fa-lg"></a></li>
          <li class="twitter"><a href="https://twitter.com/Gmes23" class="fa fa-twitter fa-lg"></a></li>
          <li class="linked-in"><a href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130" class="fa fa-linkedin fa-lg"></a></li>
          <li class="github"><a href="https://github.com/Gmes23" class="fa fa-github fa-lg" aria-hidden="true"></a></li>
        </ul>
      </div>
  </footer>
</div>
