

  <div class="gmNav">
    <div class="gmMenuLogo">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="gmReopen"> X </div>
    <ul>
      <li><a class="ls" href="#about">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#portfolio">Lab</a>
          <p class="gmLab-detail"> Programs I create during my freetime,
          <br>
           while trying to learn new tech.</p>
      </li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

<div class="gmMain">
  <h1> Gerardo Mestanza</h1>
  <h2> Full-Stack Web Developer </h2>
</div>

<div class="gmMain2">
  <h1> hello world </h1>
</div>



<div class="gmMain3">
  <h1> hello world </h1>

</div>


<div class="gmMain4">
  <h1> hello world </h1>

</div>
